<mat-card class="card-container mat-elevation-z2">
    <mat-card-header>
        <img mat-card-avatar [src]="'assets/images/'+student.gender+'.png'"  alt="gender">
        <mat-card-title class="student-name">{{student.name}} {{student.lastname}}</mat-card-title>
        <mat-card-subtitle>{{'STUDENT.CARD.AGE' | translate}} {{student.age}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button 
        (click)="edit()"
        mat-button 
        color="primary">{{'STUDENT.CARD.EDIT' | translate}}</button>
        <button 
        [routerLink]="['/students',student.id]"
        mat-button 
        color="accent">
        {{'STUDENT.CARD.COURSES' | translate}}
        </button>
        <button 
        (click)="delete()"
        mat-button color="warn">{{'STUDENT.CARD.DELETE' | translate}}</button>
      </mat-card-actions>
  </mat-card>