.card-container {
  padding: 10px;
}

.student-name {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  margin-right: 10px;
}
