button {
    margin-right: 10px;
}

.table-container {
    width: 100%;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
}

@media screen and (max-width: 860px) {
    .button-contianer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    button {
        margin-bottom: 10px;
    }
}